<body [ngStyle]="{ 'background-image': getBackgroundImage() }">
  <div class="weather-container">
    <div class="weather-box">
      <div class="weather-details" *ngIf="weatherInfo && city && country">
        <div class="weather-detail">
          <img src="http://openweathermap.org/img/wn/{{weatherInfo.current.weather[0].icon}}.png" alt="Weather Icon" class="weather-icon">
          <ul class="weather-list">
            <p><strong></strong> {{ currentDate | date: 'medium' }}</p>
            <li><strong>City:</strong> {{ city }}</li>
            <li><strong>Country:</strong> {{ country }}</li>
            <li><strong>Weather:</strong> {{ weatherInfo.current.weather[0].description }}</li>
            <li><strong>Temperature:</strong> {{ weatherInfo.current.temp }}°</li>
            <li><strong>Feels Like:</strong> {{ weatherInfo.current.feels_like }}°</li>
            <li><strong>Humidity:</strong> {{ weatherInfo.current.humidity }}%</li>
            <li><strong>Wind Speed:</strong> {{ weatherInfo.current.wind_speed }} mph</li>
          </ul>
        </div>
      </div>
      <div class="city-input">
        <input type="text" placeholder="Enter city name" [(ngModel)]="city">
        <button (click)="getWeather()">Get Weather</button>
      </div>
    </div>
  
    <div class="forecast-container" *ngIf="weatherInfo">
      <h2>Forecast</h2>
      <div class="daily-forecast">
        <div class="forecast-card" *ngFor="let day of weatherInfo.daily">
          <div class="forecast-detail">
            <p><strong>{{ (day.dt * 1000) | date: 'EEEE' }}</strong></p>
            <img src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}.png" alt="Weather Icon" class="weather-icon">
            <p><strong>High:</strong> {{ day.temp.max }}°</p>
            <p><strong>Low:</strong> {{ day.temp.min }}°</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    
  </body>